@import './../colors.scss';

.alert {
  position: fixed;
  left: 50%;
  top: -200px;
  width: 600px;
  margin-left: -300px;
  background-color: $red;
  color: #fff;
  transition: top 0.7s ease;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.4);
  cursor: pointer;
}

.visible {
  top: 20px;
}