
h3 {
  margin: 20px 0;
}

.movieList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  img {
    height: 200px;
    object-fit: cover;
  }
}